<body>
    <h2>Enter student's details:</h2>

    <form action='/saveStudent' method="POST">
        <table>
            <tr>
                <td>Name:</td>
                <td><input name="studname" placeholder="Name"></td>
            </tr>
            <tr>
                <td>Address:</td>   
                <td><input name="studaddr" placeholder="address"></td>
            </tr>
            <tr>
                <td>City:</td>
                <td><input name="studcity" placeholder="City"></td>
            </tr>
            <tr>
                <td>Pin:</td>
                <td><input name="studpin" placeholder="Pin"></td>
            </tr>
        </table>
        <input type="submit" value="Add Student">
    </form>

</body>
