<h2>update record</h2>

<body>
    <form action="/updateStudent" method="POST">
        <table>
            <tr>
                <td>
                    Enter the name of student to update city:
                </td>
                <td>
                    <input name="studname">
                </td>
            </tr>
            <tr>
                <td>
                    Enter new city:
                </td>
                <td>
                    <input name="studcity">
                </td>
            </tr>
        </table>
        <input type="submit" value="Update">
    </form>
</body>