<html>
<head>
    <title>Take User's data</title>
</head>
<body>
    <form action="/queryDemo">
        <table>
            <tr>
                <td>
                    <label for="txtlanguage">Enter your language:</label>
                    <input id="txtlanguage" name="language">
                </td>
            </tr>

            <tr>
                <td>
                    <label for="txtFramework">Enter your framework:</label>
                    <input id="txtFramework" name="framework">
                </td>
            </tr>
        </table>
        <br>
        <input type="submit" value="GO">
    </form>
</body>
</html>
