<!DOCTYPE html>
<html>
<head>
    <title>All Tasks</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body> 

<h2>Task List</h2>

<table border="1" cellpadding="8">
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Done</th>
    </tr>

    {% for task in tasks %}
    <tr>
        <td>{{ task.id }}</td>
        <td>{{ task.title }}</td>
        <td>{{ task.done }}</td>
    </tr>
    {% endfor %}

</table>

<br>
<a href="/addTask">Add New Task</a>

<br><br>
<a href="/">Home</a>

</body>
</html>
