{% extends "base.html" %}


{% block body %}
<h1>Welcome back buddy!</h1>
<div class="container">
    <form id="auth-form" action="{{url_for('login')}}" method="post">
        <input type="text" name="username" placeholder="username" class="input-field"></input>
        <input type="password" name="password" placeholder="password" class="input-field"></input>
        <input type="submit" value="login" class="btn btn-login" onclick="setActionForm('login')"></input>
        <input type="button" value="Register" class="btn btn-login" onclick="setActionForm('register')"></input>
    </form>
</div>

<script>
    function setActionForm(action){
        const form = document.getElementById('auth-form');
        if (action === 'login'){
            form.action = "{{ url_for('login') }}";
            form.method = 'post';
            form.submit();
        } else if (action === 'register'){
            form.action = "{{ url_for('register') }}";
            form.method = 'post';
            form.submit();
        }
    }
</script>

{% endblock %}