nav a{
    text-decoration: none;
    color: blue;    
    font-size: 2em;
    margin-left: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,2);
    background-color: #f9f9f9;
    padding: 14px 25px;
    display: inline-block;
    border-radius: 25px;
    margin-right: 10px;
}